/*???????????????????

please set all your env varibales in sass_varables file all lazy sass files in app use sass_variables to import your env variables automatically

while making sass files in app directory use

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

files starting without any of above characters compiles into main sass bundle

files in lazy modules are lazy css and are needed to be loaded with module loader sepratly.

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.page-docs-router-conts {
  position: fixed;
  width: 80vw;
  height: 90vh;
  top: 10vh;
  left: 20vw;
  padding-left: 20px;
  overflow: auto;
  padding-bottom: 50vh; }

@keyframes page-docs-router-conts-full-animation {
  from {
    width: 80vw;
    left: 20vw; }
  to {
    width: 100vw;
    left: 0px; } }

@keyframes page-docs-router-conts-half-animation {
  from {
    width: 100vw;
    left: 0px; }
  to {
    width: 70vw;
    left: 30vw; } }

.page-docs-router-conts-half {
  width: 80vw;
  left: 20vw;
  animation-name: page-docs-router-conts-half-animation;
  animation-duration: 500ms; }

.page-docs-router-conts-full {
  width: 100vw;
  left: 0px;
  animation-name: page-docs-router-conts-full-animation;
  animation-duration: 500ms; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.loader-master {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2; }

.loader-master-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 60%;
  height: 100px;
  left: 20%;
  top: 20vh;
  overflow: hidden;
  vertical-align: middle;
  background-color: white; }

.loader-master-card-loader {
  vertical-align: middle;
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
  padding-top: 20px; }

.loader-master-card-loader-spinner {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 5px solid white;
  border-top: 5px solid #A0E7E5;
  animation-name: uiCommonCompLoaderAnimationSpin;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.loader-master-card-text {
  padding-top: 5px;
  vertical-align: middle;
  display: inline-block;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  width: 60%;
  font-family: "Roboto-Regular"; }

@media only screen and (max-width: 720px) {
  .loader-master-card {
    width: 90%;
    left: 5%; } }

@keyframes uiCommonCompLoaderAnimationSpin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.ui-common-comp-menu-main {
  height: 10vh;
  position: fixed;
  top: 0px;
  width: 100vw;
  left: 0px;
  background-color: #5f00f7;
  overflow: auto;
  z-index: 2; }

.ui-common-comp-menu-main-first_pad {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 20px; }

.ui-common-comp-menu-main-icon {
  vertical-align: middle;
  display: inline-block;
  padding-top: 15px; }

.ui-common-comp-menu-main-icon-img {
  height: 40px;
  cursor: pointer; }

.ui-common-comp-menu-main-title {
  vertical-align: middle;
  display: inline-block;
  font-family: "Montserrat-Regular";
  font-size: 24px;
  color: white;
  margin-left: 10px; }

.message {
  position: fixed;
  width: 80vw;
  left: 10vw;
  top: 12vh;
  border-radius: 5px;
  padding: 10px;
  z-index: 19; }

.message-close-cont {
  text-align: right;
  padding-right: 10px; }

.message-close-button {
  font-size: 20px;
  font-family: "Roboto-Regular";
  color: white;
  background-color: inherit;
  border: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px; }

.message-text-cont {
  font-family: "Roboto-Regular";
  color: white;
  padding: 10px; }

.message-info {
  background-color: #004c4c; }

.message-success {
  background-color: #89c61c; }

.message-warning {
  background-color: #ebb329; }

.message-danger {
  background-color: #ff3642; }

.comp-menu-opener {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 10vw;
  top: 10vh;
  left: 0px; }

.comp-menu-main {
  position: fixed;
  top: 10vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  z-index: 1; }

.comp-menu-main-menu {
  vertical-align: top;
  float: left;
  width: 30%;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  overflow: hidden; }

.comp-menu-main-menu-buttons-button {
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid grey;
  overflow: hidden; }

.comp-menu-main-menu-buttons-button-icon {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 10px; }

.comp-menu-main-menu-buttons-button-icon-img {
  width: 40px;
  height: auto; }

.comp-menu-main-menu-buttons-button-tag {
  padding-top: 15px;
  text-align: center;
  font-family: "poppins"; }

.comp-menu-main-menu-buttons-button-tag_with_icon {
  width: 60%;
  display: inline-block;
  vertical-align: top; }

.comp-menu-main-slider {
  vertical-align: top;
  float: right;
  width: 70%;
  height: 100vh; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.ui-common-comp-sidepanelComp-main {
  position: fixed;
  left: 0px;
  top: 10vh;
  height: 90vh;
  width: 20vw;
  overflow: auto;
  border-right: 1px solid #e3e3e3;
  background-color: #ededed;
  padding-bottom: 20vh; }

@keyframes ui-common-comp-sidepanelComp-main_open-animation {
  from {
    width: 0px; }
  to {
    width: 20vw; } }

@keyframes ui-common-comp-sidepanelComp-main_close-animation {
  from {
    width: 20vw; }
  to {
    width: 0px; } }

.ui-common-comp-sidepanelComp-main_open {
  width: 20vw;
  animation-name: ui-common-comp-sidepanelComp-main_open-animation;
  animation-duration: 500ms; }

.ui-common-comp-sidepanelComp-main_close {
  width: 0px;
  animation-name: ui-common-comp-sidepanelComp-main_close-animation;
  animation-duration: 500ms; }

.ui-common-comp-sidepanelComp-sections {
  padding-top: 10px; }

.ui-common-comp-sidepanelComp-sections-section {
  overflow: auto;
  font-family: "Roboto-Regular";
  text-transform: capitalize;
  user-select: none; }

.ui-common-comp-sidepanelComp-sections-section-href {
  text-decoration: none;
  display: block; }

.ui-common-comp-sidepanelComp-sections-section-title {
  grid-template-columns: 70% 30%;
  display: grid;
  margin-top: 20px; }

.ui-common-comp-sidepanelComp-sections-section-title-text {
  color: #002240;
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px; }

.ui-common-comp-sidepanelComp-sections-section-title-icon-img {
  height: 15px;
  width: auto; }

@keyframes ui-common-comp-sidepanelComp-sections-section-title-icon-img-right-animation {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }

.ui-common-comp-sidepanelComp-sections-section-title-icon-img-right {
  transform: rotate(0deg);
  animation-name: ui-common-comp-sidepanelComp-sections-section-title-icon-img-right-animation;
  animation-duration: 500ms; }

@keyframes ui-common-comp-sidepanelComp-sections-section-title-icon-img-down-animation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }

.ui-common-comp-sidepanelComp-sections-section-title-icon-img-down {
  transform: rotate(90deg);
  animation-name: ui-common-comp-sidepanelComp-sections-section-title-icon-img-down-animation;
  animation-duration: 500ms; }

.ui-common-comp-sidepanelComp-sections-section-title:hover {
  color: #B4F8C8; }

.ui-common-comp-sidepanelComp-sections-section-links {
  padding-top: 10px; }

.ui-common-comp-sidepanelComp-sections-section-links-subSection {
  padding-left: 5px; }

.ui-common-comp-sidepanelComp-sections-section-links-link {
  display: block;
  text-decoration: none;
  color: #002240;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer; }

.ui-common-comp-sidepanelComp-sections-section-links-link:hover {
  color: #FFAEBC; }

.ui-common-comp-sidepanelComp-sections-section-links-link-text {
  font-size: 14px;
  font-family: "Roboto-Regular"; }

.ui-common-comp-sidepanelComp-sections-section-links-link-text-withSubsections {
  padding-top: 5px;
  font-size: 16px; }

.cm-s-cobalt.CodeMirror {
  background: #002240;
  color: white; }

.cm-s-cobalt div.CodeMirror-selected {
  background: #b36539; }

.cm-s-cobalt .CodeMirror-line::selection, .cm-s-cobalt .CodeMirror-line > span::selection, .cm-s-cobalt .CodeMirror-line > span > span::selection {
  background: rgba(179, 101, 57, 0.99); }

.cm-s-cobalt .CodeMirror-line::-moz-selection, .cm-s-cobalt .CodeMirror-line > span::-moz-selection, .cm-s-cobalt .CodeMirror-line > span > span::-moz-selection {
  background: rgba(179, 101, 57, 0.99); }

.cm-s-cobalt .CodeMirror-gutters {
  background: #002240;
  border-right: 1px solid #aaa; }

.cm-s-cobalt .CodeMirror-guttermarker {
  color: #ffee80; }

.cm-s-cobalt .CodeMirror-guttermarker-subtle {
  color: #d0d0d0; }

.cm-s-cobalt .CodeMirror-linenumber {
  color: #d0d0d0; }

.cm-s-cobalt .CodeMirror-cursor {
  border-left: 1px solid white; }

.cm-s-cobalt span.cm-comment {
  color: #08f; }

.cm-s-cobalt span.cm-atom {
  color: #845dc4; }

.cm-s-cobalt span.cm-number, .cm-s-cobalt span.cm-attribute {
  color: #ff80e1; }

.cm-s-cobalt span.cm-keyword {
  color: #ffee80; }

.cm-s-cobalt span.cm-string {
  color: #3ad900; }

.cm-s-cobalt span.cm-meta {
  color: #ff9d00; }

.cm-s-cobalt span.cm-variable-2, .cm-s-cobalt span.cm-tag {
  color: #9effff; }

.cm-s-cobalt span.cm-variable-3, .cm-s-cobalt span.cm-def, .cm-s-cobalt .cm-type {
  color: white; }

.cm-s-cobalt span.cm-bracket {
  color: #d8d8d8; }

.cm-s-cobalt span.cm-builtin, .cm-s-cobalt span.cm-special {
  color: #ff9e59; }

.cm-s-cobalt span.cm-link {
  color: #845dc4; }

.cm-s-cobalt span.cm-error {
  color: #9d1e15; }

.cm-s-cobalt .CodeMirror-activeline-background {
  background: #002D57; }

.cm-s-cobalt .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: white !important; }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-moz-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-moz-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

.cm-s-cobalt.CodeMirror {
  background: #002240;
  color: white; }

.cm-s-cobalt div.CodeMirror-selected {
  background: #b36539; }

.cm-s-cobalt .CodeMirror-line::selection, .cm-s-cobalt .CodeMirror-line > span::selection, .cm-s-cobalt .CodeMirror-line > span > span::selection {
  background: rgba(179, 101, 57, 0.99); }

.cm-s-cobalt .CodeMirror-line::-moz-selection, .cm-s-cobalt .CodeMirror-line > span::-moz-selection, .cm-s-cobalt .CodeMirror-line > span > span::-moz-selection {
  background: rgba(179, 101, 57, 0.99); }

.cm-s-cobalt .CodeMirror-gutters {
  background: #002240;
  border-right: 1px solid #aaa; }

.cm-s-cobalt .CodeMirror-guttermarker {
  color: #ffee80; }

.cm-s-cobalt .CodeMirror-guttermarker-subtle {
  color: #d0d0d0; }

.cm-s-cobalt .CodeMirror-linenumber {
  color: #d0d0d0; }

.cm-s-cobalt .CodeMirror-cursor {
  border-left: 1px solid white; }

.cm-s-cobalt span.cm-comment {
  color: #08f; }

.cm-s-cobalt span.cm-atom {
  color: #845dc4; }

.cm-s-cobalt span.cm-number, .cm-s-cobalt span.cm-attribute {
  color: #ff80e1; }

.cm-s-cobalt span.cm-keyword {
  color: #ffee80; }

.cm-s-cobalt span.cm-string {
  color: #3ad900; }

.cm-s-cobalt span.cm-meta {
  color: #ff9d00; }

.cm-s-cobalt span.cm-variable-2, .cm-s-cobalt span.cm-tag {
  color: #9effff; }

.cm-s-cobalt span.cm-variable-3, .cm-s-cobalt span.cm-def, .cm-s-cobalt .cm-type {
  color: white; }

.cm-s-cobalt span.cm-bracket {
  color: #d8d8d8; }

.cm-s-cobalt span.cm-builtin, .cm-s-cobalt span.cm-special {
  color: #ff9e59; }

.cm-s-cobalt span.cm-link {
  color: #845dc4; }

.cm-s-cobalt span.cm-error {
  color: #9d1e15; }

.cm-s-cobalt .CodeMirror-activeline-background {
  background: #002D57; }

.cm-s-cobalt .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: white !important; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field {
  height: 100%;
  overflow: hidden;
  font-family: "Roboto-Regular"; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-heading {
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat-Regular";
  background-color: #FFAEBC;
  margin: 10px;
  display: inline-block;
  color: white;
  border-radius: 10px; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-paragraph {
  padding: 10px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  border-radius: 5px;
  word-spacing: 5px;
  font-weight: lighter;
  letter-spacing: 1px; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-image {
  padding: 10px;
  text-align: center; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-code-editor {
  border-radius: 10px;
  font-size: 16px;
  overflow: hidden;
  width: 98%; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-code-runner {
  background-color: #002240;
  display: inline-block;
  padding: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-code-executer_cont {
  padding: 10px; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-code-executer_cont-executer {
  border: 5px solid #B4F8C8;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  padding: 10px;
  min-height: 100px; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row-containers-container-field-code-executer_cont-executer-output {
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  min-height: 100px;
  overflow: hidden; }

.CodeMirror {
  z-index: 0;
  height: 100%; }

.ui-cmmon-comp-veganaDocViewComp-main {
  padding-bottom: 20vh; }

.ui-cmmon-comp-veganaDocViewComp-main-rows-row {
  padding-top: 10px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
