

// fonts
$font-plain:'OpenSans-Regular';
$font-simple:'Roboto-Regular';
$font-fancy: 'Montserrat-Regular';
$font-curve:'Redressed-Regular';

$font-text:$font-simple;
$font-button: $font-fancy;
$font-heading: $font-fancy;

// colors
$color-green : #B4F8C8; //mint green
$color-pink: #FFAEBC; //pink
$color-blue: #A0E7E5;
$color-yellow: #FBE7C6;
$color-purple:#002240;
$color-grey:#e3e3e3;

$color-primary : $color-green; //mint green
$color-secondary: $color-pink; //pink
