/*???????????????????

you will have to load this file maunally with given module loader

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"+" - for lazy files, these files only exists for vegana lazy modules ie : pages,cont,panels,globalComp
example - "+page.scss"
this files compiles into its lazy modules position and is needed to be loaded from module loader seprately

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.page-docs-cont-make-panel-addClass-test_div {
  border: 5px solid purple;
  padding: 10px;
  border-radius: 10px; }

.page-docs-cont-make-panel-addClass-class_to_add {
  border: 5px solid pink;
  color: pink; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.page-docs-cont-make-panel-select-option_class {
  color: red; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
.page-docs-cont-make-panel-list-list {
  padding: 10px;
  padding-left: 20px; }

.page-docs-cont-make-panel-list-list-item {
  color: green;
  padding: 10px; }

.page-docs-cont-make-panel-list-list-item_one {
  color: red;
  padding: 10px; }

/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/
