/*???????????????????

"@" - for sub files in a sass tree structure, ignored in main sass compiler
example - "@sub_component.scss"
this file is compiled only when its parent is compiled and ignored if its parent-less

"!" - for files to ignore in main sass compiler
example - "!ignored_sass_file.scss"
this file is ignored

???????????????????*/

.ui-common-comp-menu-main{
  height: 10vh;
  position: fixed;
  top:0px;
  width: 100vw;
  left:0px;
  background-color: #5f00f7;
  overflow: auto;
  z-index: 2;
  // border: 5px solid red;
}

  .ui-common-comp-menu-main-first_pad{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    // border: 5px solid pink;
    // float: left;
    width: 20px;
  }

  .ui-common-comp-menu-main-icon{
    vertical-align: middle;
    display: inline-block;
    padding-top: 15px;
    // float: left;
    // height: 100%;
    // border: 5px solid red;
  }

    .ui-common-comp-menu-main-icon-img{
      // height: 30px;
      height: 40px;
      cursor: pointer;
      // width: 30px;
      // border: 5px solid yellow;
    }

  .ui-common-comp-menu-main-title{
    vertical-align: middle;
    // padding-top: 20px;
    // float: left;
    display: inline-block;
    font-family: $font-fancy;
    font-size: 24px;
    color:white;
    margin-left: 10px;
    // border: 5px solid green;
  }

  .ui-common-comp-menu-main-buttons{

  }

    .ui-common-comp-menu-main-buttons-button{

    }
